*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER STYLING */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 2px solid #162A41;
}

header .logo{
    height: 90px;
}

/* NAVIGATION STYLING */

nav{
  display: flex;              
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  margin-top: 30px;
  gap: 100px;
  justify-content: space-between;
}

.navigation{
    display: flex;
    gap: 65px;
    list-style: none;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.navigation li{
    position: relative;
}

.navigation a{
    color: #162A41;       
    text-decoration: none; 
}

.navigation a:hover{
    text-decoration: underline;
}

/* DROPDOWN MENU */

.dropdown{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #162A41;
    padding: 10 px 0;
    list-style: none;
    display: none;
    gap: 5px;
    min-width: 400px;
    z-index: 10;
}

.navigation .dropdown a{
    padding: 20px 16px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    display: block;
}

.navigation li:hover .dropdown{
    display: block;
}

/* ARROW ROTATION */

.arrow{
    width: 12px;
    height: 12px;
    margin-left: 6px;
    transition: transform 0.3s ease;
}

.navigation li:hover > a .arrow{
    transform: rotate(180deg);
}

/* SØGEFELT */

.nav-search{
    display: flex;
    align-items: center;
    gap: 0;                  
    border: 2px solid #162A41;
    border-radius: 40px;
    overflow: hidden;         
    margin-left: 50px;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
}

.nav-search input{
    width: 170px;
    border: none;
    outline: none;
    padding: 20px 20px;                
    height: 30px;
    font-size: 20px;
}

.nav-search button{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;          
}

.nav-search img{
    width: 22px;               
    height: 22px;
}

/* SKJULT TEKST TIL SKÆRMLÆSERE */

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0,0,0,0);
    border: 0;
}

/* MOBILMENU KNAP SKJULT DESKTOP */

.mobile-menu-btn{
    display: none;
}

/* MOBIL ARROWS SKJULT DEKSTOP */

.arrow.mobile-only{
    display: none; 
    width: 40px;
    height: 40px;
}

/* SEKTION 1 / INTRO SLIDER */

.intro-title{
    padding-left: 80px;
    text-align: left;
    font-size: 50px;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: 600;
}

.intro-background{
    width: 100%;
    background-color: #FAFAFA;
    padding: 0;
    margin: 0;
    display: flex;
}

.intro-section{
    max-width: none;
    padding: 0 40px;
}

.intro-slider{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.slides{
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slide{
    display: none; /* skjul alle slides */
    flex-direction: row;
    gap: 2rem;
    align-items: stretch;
}

.slide.active{
    display: flex;
    justify-content: flex-start;
}

.slide-image img{
    width: 100%;
    max-width: 600px;
    height: 400px;
    object-fit: fill;
    display: block; 
}

.slide-image{
    height: 400px;  
    flex-shrink: 0;
    flex: 0 0 600px; 
    height: 400px;
}

.slide-text{
    flex: 1;
    text-align: left;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d1a2b;
}

.slide-text h2{
    max-width: 600px;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.3;
}

.slide-text p{
    max-width: 750px;
    font-size: 30px;
    line-height: 1.3;
    color: #333;
}

.slide-arrow{
    background: #FAFAFA;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.3rem 0.7rem;
}

.btn{ 
    display: none;
}

/* SEKTION 2 */

.section-2{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color:white; 
}

.box{
    background-color: #0d1a2b;
    color: white;
    padding: 20px 20px;
    width: 25%;
    text-align: left;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0 80px;
}

.box h3{
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 600;
}

.box p{
    margin-bottom: 50px;
    font-size: 24px;
}

.box img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

/* SEKTION 3 */

.section-3{
    width: 100%;
    max-width: 1200px;
    margin: 0;
    padding-left: 80px;
    box-sizing: border-box;
    padding-bottom: 40px;
    }

.guides-title{
    font-size: 40px;
    margin-bottom: 40px;
    color: #0d1a2b;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.guide-item{
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
}

.guide-img{
    width: 60%;
    height: 200px;
    object-fit: cover;
}

.guide-text{
    width: 70%;
    color: #0d1a2b;
    font-family: Arial, Helvetica, sans-serif;
}

.guide-text h3{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.guide-text p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.guide-btn{
    background-color: #0d1a2b;
    color: white;
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 10px;
    text-decoration: none;
}

/* FOOTER */

.footer-banner{
    width: 100%;
    background-color: #0d1a2b;
    color: white;
    text-align: center;
    padding: 30px 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: #0d1a2b;
    padding: 20px 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-text h4{
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-text ul{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2.5;
}

.footer-text li{
    text-decoration: none;
    color: #0d1a2b;
}

.footer-text a{
    color: #0d1a2b;
}

/*------------------- UNDERSIDE PHISHING CONTENT ---------------------*/

.phishing-content{
    font-family: Arial, Helvetica, sans-serif;
}

.phishing-content nav[aria-label="Brødkrumme-navigation"] ol {
    list-style: none;
    padding: 0 40px;
    display: flex;
    font-size: 0.9rem;
}

.phishing-content nav[aria-label="Brødkrumme-navigation"] li {
    margin-right: 5px;
}

.phishing-content nav[aria-label="Brødkrumme-navigation"] li::after {
    content: "/";
    margin-left: 5px;
}

.phishing-content nav[aria-label="Brødkrumme-navigation"] li:last-child::after {
    content: "";
}

.phishing-content nav[aria-label="Brødkrumme-navigation"] li[aria-current="page"] {
    font-weight: 100;
    color:#0d1a2b;
}

/* SEKTION 4 */

.section-4{
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.section-4 h1{
    font-size: 40px;
    margin-bottom: 40px;
    color: #0d1a2b;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.section-4 .highlight{
    color: #E69A27;
}

.section-4 p{
    font-size: 22px;
    max-width: 1100px;
    margin: 0 auto 20px auto;
    color: #0d1a2b;
    line-height: 1.5;
    margin-bottom: 20px;
}

.section-4 img{
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

/* SEKTION 5 */

.section-5{
    text-align: center;
    padding-bottom: 60px;
    background-color: #0d1a2b;
}

.section-5 h3{
    font-size: 32px;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    padding-top: 60px;
    padding-bottom: 20px;
}

.section-5 p{
    font-size: 18px;
    color: white;
    padding-bottom: 60px;
}

.section-5 figcaption{
    margin-top: 5px;
    font-size: 14px;
    color: white;
}

/* SEKTION 6 OG 7 */

.section-6 h2, .section-7 h2{
    padding-top: 60px;
    font-size: 32px;
    padding-left: 40px;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
}

.section-6 ul{
    padding-left: 70px;
    font-size: 22px;
    line-height: 2;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
}

.section-7 ul{
    padding-left: 70px;
    font-size: 22px;
    line-height: 2;
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 60px;
}


/* MOBIL + TABLET (op til 768px) */

@media screen and (max-width: 768px){

     /* HEADER STYLING */

    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #162A41;
        padding: 20px;
    }

     header .logo{
        height: 70px;
        margin: 0;
    }
    
    /* NAVIGATION */

    nav{
        display: flex;
        align-items: center;
        gap: 40px;
        margin: 0;
        width: auto;
    }

    .nav-search{
        order: 1;
        width: 180px;
    }

    .nav-search input{
        width: 100%;
        box-sizing: border-box;
    }

    .mobile-menu-btn{
        display: flex;
        flex-direction: column-reverse;
        order: 2;
        align-items: center;
        gap: 0px;
        margin: 0;
        cursor: pointer;
        font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #E69A27;
    }

    .burger-icon{
        width: 50px;
        height: 50px;
    }

    .navigation{
        display: none;
        flex-direction: column;
        background: #162A41;
        padding: 20px 0;
        gap: 10px;
        position: fixed;
        top: 110px;
        left: 0;
        z-index: 9999;
        width: 100%;
    }

    .navigation.active{
        display: flex;
    }

    .navigation li{
        display: block;       
        list-style: none;     
    }

    .navigation > li > a{
        color: white;
        font-size: 20px;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dropdown{
        display: none;
        position: static;
        background: #0d1a2b;
        padding-left: 0px;
        list-style: none;
    }

    .dropdown li{
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .dropdown.open{
        display: block;
    }

     .arrow.mobile-only{
        display: inline-block;
        transition: transform 0.3s ease;
    }
    
    .arrow.mobile-only.rotate {
        transform: rotate(90deg);
    }

    /* SEKTION 1 / INTRO SLIDER */

    .intro-section{
    padding: 0px 0px;
    }

    .intro-title{
    font-size: 36px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 10px 20px;
    }

    .slide-image img{
    width: 100%;
    max-width: 500px;
    height: 300px;
    object-fit: fill;
    display: block; 
    }

    .slide-image{
    flex: none;
    width: 100%;
    height: auto;
    }

    .slide-text{
    text-align: center;
    width: 100% !important;
    max-width: 95% !important;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    }

    .slide-text h2{
    font-size: 24px;
    }

    .slide-text p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 0.1rem;
    }

    .slide{
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    align-items: stretch;
    position: relative;
    }

    .slider-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border-radius: 50%;
    left: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 1.8rem;
    z-index: 10;
    }

    .btn{
    display: inline-block;        
    background-color: #162A41;    
    color: #ffffff;              
    font-size: 15px;             
    font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 1rem auto 0;
    margin-top: 1rem;  
    margin-bottom: 1rem;           
    text-align: center;
    text-decoration: none;
    }  

    /* SEKTION 2 */

    .section-2{
    display: none;
    }

    /* SEKTION 3 */

    .section-3{
    padding: 0 20px;
    }

    .guides-title{
    text-align: center;
    padding-top: 40px;
    font-size: 28px;
    }

    .guide-item{
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    }

    .guide-img{
    width: 100%;
    }

    .guide-text{
    width: 100%;
    }

    .guide-text h3{
    font-size: 22px;
    }

    .guide-text p{
    font-size: 18px;
    }

    .guide-btn{
    display: inline-block;
    }

    /* PHISHING CONTENT */
    
    .phishing-content nav[aria-label="Brødkrumme-navigation"] ol {
        display: none;
    }

    /* SEKTION 4 */

    .section-4 h1{
        font-size: 30px;
        text-align: left;
        padding-left: 20px;
    }

    .section-4 p{
        font-size: 18px;
        line-height: 1.8;
        text-align: left;
        padding-bottom: 20px;
        padding-right: 10px;
        padding-left: 20px;
    }

    .section-4 img{
        margin-bottom: 2px;
    }

    /* SEKTION 5 */

    .section-5 h3{
        font-size: 24px;
    }

    .section-5 p{
        font-size: 18px;
        padding: 0px 10px;
        padding-bottom: 40px;
    }

    .section-5 iframe{
        width: 90%;
        height: 340px;
    }

    /* SEKTION 6 og 7 */

    .section-6 h2, .section-7 h2{
        font-size: 28px;
        text-decoration: underline;
    }

    .section-6 li, .section-7 li{
        font-size: 18px;
        padding-right: 30px;
    }

    /* FOOTER */

    .footer-banner{
    font-size: 16px;
    padding: 30px 20px;
    }

    .footer-content{
    flex-direction: row;
    text-align: left;
    gap: 20px;
    font-size: 14px;
    }

    .footer-text li{
    margin: 3px 0;
    }
}